<div class="profile-main">
  <div class="profile-user-name">
    <%= @user.name %>
  </div>
  <div class="profile-user-email">
    <%= @user.email %>
  </div>
  <div class="profile-edit-button">
    <%= link_to 'Edit', edit_user_path(@user) %>
  </div>
</div> 
<div class="profile-favorites">
  <h3>Favorites</h3>
    <% @favorite_pictures.each do |favorite_picture| %>
    <div class="post">
      <div class="post-user">
        <span class="post-user-image">
          
        </span>
        <span class="post-user-name">
          <a><%= favorite_picture.user.name %></a>
        </span>
      </div>
      <div class="post-picture">
        <%= image_tag favorite_picture.image %>
      </div>
      <div class="post-text">
        <a><%= favorite_picture.content %></a>
      </div>
    </div>
    <% end %>
</div>
