<div class="posts-area">
  <% @pictures.each do |picture| %>
  <div class="post">
    <div class="post-user">
      <span class="post-user-image">
        
      </span>
      <span class="post-user-name">
        <a><%= picture.user.name %></a>
      </span>
    </div>
    <div class="post-picture">
      <%= image_tag picture.image %>
    </div>
    <div class="post-action">
      <%= link_to 'Show', picture %>
      <% if picture.user == current_user %>
      <%= link_to 'Edit', edit_picture_path(picture) %>
      <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    <div class="post-text">
      <a><%= picture.content %></a>
    </div>
  </div>
  <% end %>
</div>